
tr{
    color: black;  
}

h1{
   text-align: center;
   font-size: 18px;
}

/* stilos da modal quiz 01*/
.container1 {
    display: flex;
    justify-content: center;

}
/* stilos da modal */
.modal-body-index {
    background: rgb(191, 208, 241);
    padding: 30px;
   
}

.modal-title1-index  {
    font-size: 20px;
    text-align: center;
}

.modal-title-index {
    font-size: 40px;
    text-align: center;
}
.modal-dialog-index {
    width: 1000px;
    height: 80%;
    background-color: white;
    margin: auto;
}
.modal-footer-index{
   margin-left: 25%;
}

@keyframes neon{
    from{
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }to{
        filter: drop-shadow(0 0 30px var(--cor-neon));
    }

}

.Numero{
    text-align: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 70px;
    color:black;
    margin-right: 80px;
}

.input-nome {
    height: 40px;
    width: 300px;

}

.input-idade {
    height: 40px;
    width: 100px;

}

.scopeA {
    font-size: 60px;
    margin-left: 100px;
}

.scopeB {
    font-size: 60px;
    margin-left: 100px;
}


/* stilos da modal */
.modal-body {
    background: rgb(191, 208, 241);
   
}

/* stilos da modal quiz01 */
.modal-body-quis1{
    background: rgb(204, 169, 196);
   
}

/* stilos da modal quiz02 */
.modal-body-quis2 {
    background: rgb(148, 179, 241);
    
}

/* stilos da modal quiz03 */
.modal-body-quis3 {
    background: rgb(189, 240, 236);
   
}

/* stilos da modal quiz04 */
.modal-body-quis4 {
    background: rgb(244, 245, 226);
    
}

.modal-title1 {
    font-size: 20px;
    text-align: center;
}

.modal-title {
    font-size: 40px;
    text-align: center;
}

.modal-dialog {
    width: 1300px;
    height: 80%;
    overflow:auto;

}

/* stilos da modal quiz 01*/
.container {
    display: flex;
    justify-content: center;

}

/*Radios dos questionarios*/
.form-check-input {
    height: 20px;
    width: 20PX;
    margin-left: 20px;

}
.input-group-text-scope{
    font-size: 30px;
    margin-left: 10PX;
}

/*labels dos questionarios*/
.input-group-text {
    font-size: 20px;
    margin-left: 20PX;
}

/*botoes*/
.btn {
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-right: 150px;
}

/*segundo conteudo containers dos questionários */
.second-content {
    margin-left: 0px;
}

.first-content {
    margin-right: 0px;
}

.table {
    width: 600px;
    overflow-y: auto; 
}
.Swal.fire{
    font-size: 50px;
    text-align: justify;
}